# Windows Files
*.temp
.DS_Store?
Thumbs.db

# Maven
target/

# FDT
.settings/
.as3_classpath
.project

# due to the fact that FDT doesn't support Maven (yet, I hope)
# I've put swc dependencies (as3coreaddendum and flexunit4) in this folder ("dependencies")
# but they are only needed to better coding on FDT
# they aren't needed or used in the Maven build process
# so they're not included in the repository
dependencies/